body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  color: #37474F;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-weight: normal;
  font-family: 'Ubuntu', sans-serif;
  color: #37474F;
  word-spacing: 1.2px;
  font-size: 40px;
  margin: 0px;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  color: #37474F;
  margin: 15px 0px;
}

.container {
  display: inherit;
  flex-wrap: wrap;
  margin: 0px auto;
  justify-content: center;
}

.header {
  display: flex;
  max-width: 1200px;
  flex: 1;
  height: 90px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

#logo_princ {
  max-width: 200px;
  margin: 0px;
}

.logo {
  margin-left: 0px;
}

.header ul {
  display: flex;
  list-style-type: none;
  height: inherit;
  margin: 0px 20px;
  flex-wrap: wrap;
}

.header ul li {
  height: inherit;
}

.header a{
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  color: #0f0f0f;
}

.header a:hover {
  color: #16A085;
}
/*
.containter-hero {
  max-width: 1200px;
}

.hero {
  height: 420px;
  background: url('../images/fondo.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  display: flex;
}
*/
.hero h1 {
  margin: 30px;
}

.hero-strong {
  color: #16A085;
}

.videos {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

.video {
  border: 1px solid grey;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
  max-width: 700px;
  background: #fafafa;
}

.video-details {
  width: 50%;
  margin: 10px 20px;
}

.video-title {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 0px;
}


.video-author, .video-date, .video-font {
  margin: 0px;
}

.video-embeb {
  margin-top: 15px;
  width: 50%;
  vertical-align: bottom;
}

.video-embeb iframe {
  width: 100%;
}

.books {
  padding: 0px 15px;
}

.books-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.book {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  max-width: 48%;
  margin: 1%;
  background: #fafafa;
  box-sizing: border-box;
}


.book-cover {
  width: 30%;
  text-align: center;
}

.book-cover img {
  width: 100%;
}

.book-details {
  width: 70%;
}

.book-title, .book-author {
  margin: 0px;
}

.contact {
  background: #16A085;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.contact-form {
  display: flex;
  margin: 0px 20px;
}

.contact-form h2{
  margin: 10px 0px;
  color: white;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.contact-email {
  padding: 5px;
  width: 300px;
  border: 1px solid white;
  display: block;
  border-radius: 5px;
}

.contact-button {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: transparent;
  border: 3px solid white;
  color: white;
  font-weight: bold;
}

.social {
  display: flex;
  flex-wrap: wrap;
}

.social-link {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  display: inline-block;
  background-size: 100%;
  margin: 20px;
}

.social-twitter {
  background-image: url(../images/Twitter_icon.png);
}

.social-github {
  background-image: url(../images/Github_icon.png);
}

.social-instagram {
  background-image: url(../images/Instagram_icon.png);
}

.social-facebook {
  background-image: url(../images/Facebook_icon.png);
  border: 2px solid white;
  border-radius: 10px;
}

/* Footer */
.footer {
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  text-decoration: none;
  color: grey;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 767px) {
  .header {
    display: block;
    height: auto;
  }

  #logo_princ {
    max-width: 200px;
  }

  .header .logo {
    margin: 10px auto;
    max-width: 200px;
  }

  .header ul {
    display: initial;
  }

  .header ol li {
    height: 50px;
    text-align: center;
  }

  .header a {
    justify-content: center;
  }

  .container-title{
    display: block;
    margin: auto;
    text-align: center;
  }

  .video {
    display: block;
    height: auto;
    max-width: 380px;
    width: 60%;
  }

  .video-details {
    width: auto;
    font-size: 16px;
    margin: 0.5em 0;
  }

  .video-title {
    font-size: 1.5em;
  }

  .video-embeb {
    width: auto;
    height: auto;
    margin: 0;
  }

  .video-embeb iframe {
    max-height: 100%;
  }

  .books-flex {
    display: block;
  }

  .book {
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
  }

  .book-cover {
    width: 100%;
    padding: 0;
    margin: auto;
  }

  .book-cover img {
    width: 80%;
  }

  .book-details {
    width: 100%;
  }

}

@media screen and (max-width: 480px) {

  .video {
    max-width: 90%;
  }
  .video-details {
    width: auto;
    font-size: 12px;
    margin: 0.5em 0;
  }

  .book {
    max-width: 90%;
  }

}

@media screen and (max-width: 320px) {

}
