body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

h1 {
  font-weight: normal;
  font-family: 'Ubuntu', sans-serif;
  color: #37474F;
  word-spacing: 1.2px;
  font-size: 40px;
  margin: 0px;
}

.logo {
  max-width: 200px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 90px;
}

.header ul {
  display: flex;
  list-style-type: none;
  height: inherit;
  margin: 0px 20px;
}

.header ul li {
  height: inherit;
}

.header a{
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.hero {
  height: 420px;
  background: url('../images/fondo.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  display: flex;
}

.hero h1 {
  margin: 30px;
}

.hero-strong {
  color: #16A085;
}

.video {
  border: 1px solid grey;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 15px;
  padding: 20px;
  box-sizing: 500px;
}

.video-details {
  width: 500px;
  margin: 10px 20px;
  display: inline-block;
}

.video-embeb {
  width: 500px;
  height: 300px;
}

.book-details {
  width: 500px;
}

/* Footer */
.footer {
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer img {
  vertical-align: middle;
}
