body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  color: #37474F;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-weight: normal;
  font-family: 'Ubuntu', sans-serif;
  color: #37474F;
  word-spacing: 1.2px;
  font-size: 40px;
  margin: 0px;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  color: #37474F;
  margin: 15px 0px;
}

.container {
  width: 1200px;
  display: inherit;
  margin: 0px auto;
  justify-content: space-between;
}

.logo {
  max-width: 200px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 90px;
}

.header ul {
  display: flex;
  list-style-type: none;
  height: inherit;
  margin: 0px 20px;
}

.header ul li {
  height: inherit;
}

.header a{
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  color: #0f0f0f;
}

.header a:hover {
  color: #16A085;
}

.hero {
  height: 420px;
  background: url('../images/fondo.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  display: flex;
}

.hero h1 {
  margin: 30px;
}

.hero-strong {
  color: #16A085;
}

.videos {
  padding: 15px;
}

.video {
  border: 1px solid grey;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
  width: 400px;
  background: #fafafa;
}

.video-details {
  width: 400px;
  margin: 10px 20px;
}

.video-title {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 0px;
  height: 50px;
  line-height: 25px;
}



.video-author, .video-date, .video-font {
  margin: 0px;
}

.video-embeb {
  margin-top: 15px;
  width: 350px;
  height: 260px;
  vertical-align: bottom;
}

.books {
  padding: 0px 15px;
}

.books-flex {
  display: flex;
  justify-content: space-around;
}

.book {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  width: 550px;
  background: #fafafa;
  box-sizing: border-box;
}

.book-title, .book-author {
  margin: 0px;
}

.book-description {
  text-align: left;
}

.contact {
  background: #16A085;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.contact-form {
  display: block;
  margin: 0px 20px;
}

.contact-form h2{
  margin: 10px 0px;
  color: white;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.contact-email {
  padding: 5px;
  width: 300px;
  border: 1px solid white;
  display: block;
  border-radius: 5px;
}

.contact-button {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: transparent;
  border: 3px solid white;
  color: white;
  font-weight: bold;
}

.social {

}

.social-link {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  display: inline-block;
  background-size: 100%;
  margin: 20px;
}

.social-twitter {
  background-image: url(../images/Twitter_icon.png);
}

.social-github {
  background-image: url(../images/Github_icon.png);
}

.social-instagram {
  background-image: url(../images/Instagram_icon.png);
}

.social-facebook {
  background-image: url(../images/Facebook_icon.png);
  border: 2px solid white;
  border-radius: 10px;
}




/* Footer */
.footer {
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  text-decoration: none;
  color: grey;
}
